<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/public/meta/vite.svg">
    <title>{{title}}</title>

    {{#if scriptPath}}
    <script type="module" src={{scriptPath}} defer></script>
    {{#if}}
    <link type="stylesheet" href="/src/styles/base.scss" />
    {{#if stylesPath}}
    <link rel="stylesheet" href={{stylesPath}} />
     {{/if}}
</head>
<body>
    
</body>
{{> @partial-block}}
</html>